<section id="about" class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-4 text-center">
          <img class="img-thumbnail img-responsive img-grayscale" src="/img/profile.jpeg" />
        </div>
        <div class="col-lg-6 col-lg-offset-1 text-justify">
          <p>
            I'm an analyst and developer with District of Columbia Public Schools,
            specializing in employee-focused data systems. I develop and maintain recruitment,
            retention, performance evaluation, and dashboards for analytical purposes.
          </p>
          <p>
            Professionally, I build applications using SaaS products like Salesforce
            and Quickbase, an Intuit database product. In my free time, I've built
            applications using Ruby on Rails and am interested in Javascript front-end frameworks.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>