<footer>
  <div class="container">
    <div class="row">
      <hr/>
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/austinzentz">
              <i class="fa fa-linkedin fa-lg"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.github.com/aust1nz">
              <i class="fa fa-github fa-lg"></i>
            </a>
          </li>
        </ul>
        <p>Built with <i class="fa fa-heart-o"></i> by Austin Zentz.<br>©2014</p>
      </div>
    </div>
  </div>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/ie10-viewport-bug-workaround.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</footer>
