{% for post in site.posts %}
  {% if post.path contains "projects" %}
    <div class="modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title">{{ post.title }}</h2>
          </div>
          
          <div class="modal-body">
            <p class="small">{{ post.description }}</p>
            <ul class="list-inline item-details">
              <li>Skills: {% for skill in post.skills %}<code>{{ skill }}</code> {% endfor %}</li>
            </ul>
  
            <div class="loading">
              <h4>Loading screenshots...</h4>
            </div>
            
            <div id="portfolio-carousel-{{ post.modal-id }}" class="carousel slide" data-ride="carousel" data-interval="false">
              
              <div class="carousel-inner" role="listbox">
                {% for img in post.images %}
                  <div class="item {% if forloop.index == 1 %}active{% endif %}">
                    <img class="lazy img-thumbnail img-responsive" data-src="img/portfolio/{{ img }}">
                  </div>
                {% endfor %}
              </div>
  
              <ol class="carousel-indicators">
                {% for img in post.images %}
                  <li data-target="#portfolio-carousel-{{ post.modal-id }}" data-slide-to="{{ forloop.index0 }}" {% if forloop.index == 1 %}class="active"{% endif %}></li>
                {% endfor %}
              </ol>
  
              <a class="left carousel-control" href="#portfolio-carousel-{{ post.modal-id }}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#portfolio-carousel-{{ post.modal-id }}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}