$color-primary: #0065a4;
$color-secondary: SlateGray;
$color-secondary-dark: #80B3FF;
$normal: 15px;
$section-spacing: 100px;

$heading-font: 'Source Sans Pro', sans-serif;

@import 'navbar';
@import 'header';
@import 'footer';
@import 'sections';
@import 'portfolio';

body {
  padding-top: 50px;
  overflow-x: hidden;
  font-size: $normal;
}

p {
  margin-bottom: $normal;
  margin-top: $normal;
  .small {
    font-size: $normal * 0.75;
  }
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}