$color-primary: #80B3FF;
$color-secondary: SlateGray;
$color-secondary-dark: #A2122F;
$normal: 20px;
$section-spacing: 100px;

$heading-font: 'Source Sans Pro', sans-serif;

@import 'navbar';
@import 'header';
@import 'footer';
@import 'sections';
@import 'portfolio';

body {
  padding-top: 50px;
  overflow-x: hidden;
}

p {
  font-size: $normal;
  
  .small {
    font-size: $normal * 0.75;
  }
}

hr {
  width: 50%;
  height: 7px;
  color: white;
  background-color: white;
}

