/**
 * Grey About Box
 */
.about {
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: $grey-color-lightest;
    margin: 0px 20px 15px 20px;
    padding: 10px 20px 5px 20px;
    font-size: .85em;
}

@include media-query($on-palm) {
    .about {
        margin: 0px 0px 15px 0px;
    }
}