section {
  padding-bottom: $section-spacing;
  padding-top: $section-spacing;
  
  h2 {
    font-family: $heading-font;
    font-size: 4em;
  }
}

section.success {
  color: #fff;
  background-color: lighten($color-primary, 25%);
}

.img-grayscale {
  margin: 0 auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

}