section {
  padding-bottom: $section-spacing / 2;
  padding-top: $section-spacing / 4;
  
  h2 {
    font-family: $heading-font;
    font-size: 4em;
  }
  
  h3 {
    font-family: $heading-font;
    font-size: 2.5em;
  }
  
  h4 {
    font-family: $heading-font;
    font-size: 1.8em;
  }
  
  @media(min-width:767px) {
    padding-bottom: $section-spacing;
    padding-top: $section-spacing;
  }
}

section.condensed {
  padding-bottom: $section-spacing / 2;
  padding-top: $section-spacing / 4;
  
  @media(min-width:767px) {
    padding-bottom: $section-spacing / 2;
    padding-top: $section-spacing / 4;
  }
}

section.success {
  color: #fff;
  background-color: lighten($color-primary, 25%);
}

.img-grayscale {
  margin: 0 auto;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

}


.about-text {
  margin-top: 40px;
  color: lighten(black, 10%);
  font-size: 0.95em;
  background: lighten(gray, 45%);
  padding: 15px 10px 15px 10px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 5px;
}