---
layout: base
---
<section>
  <div class="container">
    {% if page.draft %}
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <h3>Work in Progress</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-4">
          Hmm. You found a post that's not quite ready for primetime. Please check back soon!
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <h3>{{ page.title }}</h3>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6 col-md-offset-4">
          <p>Posted on {{ page.date | date: " %B %-d, %Y" }}</p>
          
          {{ content }}
          
          <p class="about-text"><a href="/">Austin Zentz</a> is a
          developer and analyst who lives in Washington, DC. He works with DC
          Public Schools focusing on employee data systems and analysis.
          <a href="/#contact">Contact</a></a></p>
        </div>
      </div>
    {% endif %}
  </container>
</section>