---
layout: base
---

<header class="condensed">
  <section class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="page-header">{{ page.name }}</h1>
      </div>
    </div>
  </div>
</header>

<section class="condensed">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="text-right"><a href="/projects.html">Projects Home</a></p>

        {{ content }}
      </div>
    </div>
  </div>
</section>

